@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #373737;
  color: white;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid;
}

th, td {
  padding: 2px;
  letter-spacing: 2px;
}

.tr-green {
  background-color: #96BF5C;
  color: black;
}

.tr-purple {
  background-color: #C8ADE3;
  color: black;
}

.tr-grey {
  background-color: #373737;
  color: white;
}

.tr-white {
  background-color: white;
  color: black;
}