@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #373737;
  color: white;
}

a {
  color: lightblue;
  text-decoration: underline;
}

.tab-bar {
  width: 100%;
}

.tab-button {
  width: 50%;
}

.tab-selected {
  background-color: #96BF5C;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid;
}

th, td {
  padding: 2px;
  letter-spacing: 2px;
}

.title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.tr-green {
  background-color: #96BF5C;
  color: black;
}

.tr-purple {
  background-color: #C8ADE3;
  color: black;
}

.tr-grey {
  background-color: #373737;
  color: white;
}

.tr-white {
  background-color: white;
  color: black;
}

select {
  min-width: 75px;
  width: 100%;
  border-radius: 0.15rem;
  color: black;
  text-overflow: ellipsis;
}

input {
  width: 100%;
}

.input-green {
  background-color: #96BF5C;
  color: black;
}

.input-purple {
  background-color: #C8ADE3;
  color: black;
}

.input-grey {
  background-color: #373737;
  color: white;
}

.input-white {
  background-color: white;
  color: black;
}

button {
  padding: 0;
}

.character-card {
  border: 1px solid;
  padding: 5px;
  width: 100%;
}

.character-card-assigned {
  background-color: #C8ADE3;
}